<header>

	<h1>Some Website</h1>

	<p><a href="/home">Home</a></p>
	<p><a href="/projects">Projects</a></p>
	<p><a href="/about">About</a></p>
	<p><a href="/help">Help</a></p>

	<h2>{{pageTitle}}</h2>
	</header>