<header>

	<h1>Weather App</h1>
	<h3>Find the weather absolutely anywhere!</h3>
	<p><a href="/home">Home</a></p>
	<p><a href="/about">About</a></p>
	<p><a href="/help">Help</a></p>

	<h2>{{pageTitle}}</h2>
	</header>