<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>

	</head>
	<body>
		{{> header}}
	

	<p>Here are some helpful tips and tricks to get started.</p>

	{{> footer}}

</html>